{% extends 'base.html.twig' %}

{% block title %}cda-blog
{% endblock %}

{% block body %}



	<h1 class="text-primary">Hello blog -cda</h1>

	<div class="container">
		<h1 class="blue-heading">Bienvenue sur ma page d'accueil</h1>
		<div class="row">
			<div class="col-md-3 mx-4 mb-8">
				<h2>Maecenas egestas</h2>
				<p> Vestibulum aliquet convallis volutpat. Pellentesque augue dui, posuere at ornare vel, maximus eu justo. Cras scelerisque leo augue, eu gravida augue euismod eget. Sed a suscipit libero. Vestibulum ultrices tellus ut sollicitudin consectetur. Aenean tristique non magna et pulvinar. Nulla venenatis, tellus ut egestas interdum, eros est pretium tortor, eget efficitur tortor tortor porttitor odio. Quisque sagittis libero ut dapibus condimentum. Phasellus placerat lectus nec nulla euismod volutpat. Sed feugiat in leo gravida laoreet. Aenean nisi urna, rutrum vel euismod non, finibus quis odio.
Integer sed lobortis felis. Integer scelerisque facilisis elementum. Duis at felis quis nisl venenatis tristique. Proin dignissim posuere blandit. Nullam vel commodo mauris, vel fermentum tortor. Cras at gravida mi. Morbi interdum lectus metus, eget blandit nisi vehicula sed. Mauris malesuada at odio et efficitur. In tincidunt lobortis nibh, non feugiat tellus cursus non. Aenean ut facilisis diam. Pellentesque dapibus risus non leo blandit, id maximus nibh rutrum. Fusce sollicitudin, dui eget tempus sagittis, risus mauris sodales magna, quis rutrum dolor arcu nec massa. Ut dolor libero, eleifend non semper vestibulum, bibendum ac est. Cras ac semper lacus. Nunc pharetra dui eu ante porttitor, a blandit augue interdum. Etiam eget viverra leo.
Generated 5 paragraphs, 482 words, 3309 bytes of Lorem Ipsum </p>
			</div>
			<div class="col-md-3 mx-4 mb-8">
				<h2>Pellentesque augue</h2>
				<p>
					Quisque eu feugiat erat. Proin condimentum congue magna at mollis. Sed suscipit lectus dui, vel finibus nulla semper eget. Vestibulum efficitur ex vel erat tempus, sed condimentum lectus lobortis. Ut faucibus lorem nec semper posuere. Maecenas magna orci, interdum et interdum at, cursus ac sapien. Phasellus molestie nec leo in pharetra. Fusce eleifend velit viverra lorem varius, id porttitor ipsum ullamcorper. Morbi quis commodo mauris. Quisque eu feugiat erat. Proin condimentum congue magna at mollis. Sed suscipit lectus dui, vel finibus nulla semper eget. Vestibulum efficitur ex vel erat tempus, sed condimentum lectus lobortis. Ut faucibus lorem nec semper posuere. Maecenas magna orci, interdum et interdum at, cursus ac sapien. Phasellus molestie nec leo in pharetra. Fusce eleifend velit viverra lorem varius, id porttitor ipsum ullamcorper. Morbi quis commodo mauris.

Morbi pellentesque ipsum quis massa consequat placerat. Aliquam sapien tellus, convallis non facilisis tincidunt, eleifend sit amet velit. Sed egestas urna a aliquam posuere. Maecenas egestas euismod erat a pellentesque. Proin interdum sollicitudin ultricies. Nam eleifend tortor id finibus venenatis. Suspendisse potenti. Curabitur diam odio, feugiat vel ultrices a, interdum non turpis. Sed ut quam eget augue pellentesque placerat. Fusce accumsan nisl vitae sapien auctor, quis mollis justo facilisis. Fusce tempus metus in eros porta, vel eleifend turpis congue. Nunc eget malesuada ligula. Curabitur egestas, turpis ac molestie dignissim, tortor lorem varius mi, sit amet placerat nulla odio eu nulla. 
				</p>
			</div>

			<div class="col-md-3  mx-4 mb-8">
				<h2>explication boostrap</h2>
				<p>col-md-6 : Cette classe Bootstrap est utilisée pour définir la largeur des colonnes dans un système de grille Bootstrap. Dans cet exemple, col-md-6 signifie que la colonne occupera 6 unités de largeur sur 12 (car Bootstrap utilise un système de grille basé sur 12 colonnes pour les mises en page). Cela signifie que la colonne prendra la moitié de la largeur disponible lorsque l'écran est de taille moyenne (MD, medium). En d'autres termes, elle divise l'écran en deux colonnes égales.
				</p>
				<p>mb-4 : Cette classe Bootstrap est utilisée pour ajouter une marge en bas (espace vertical) à l'élément auquel elle est appliquée. Dans cet exemple, mb-4 ajoute une marge en bas de 1rem (16 pixels) entre l'élément et les éléments situés en dessous de lui. Plus précisément, le "mb" signifie "margin-bottom" (marge en bas), et le "4" indique la taille de la marge en rem (unité de mesure Bootstrap). Vous pouvez ajuster le nombre pour obtenir une marge plus grande (mb-5, mb-6, etc.) ou plus petite (mb-3, mb-2, etc.).</p>
			<p>mx-4 : Cette classe Bootstrap est utilisée pour ajouter de la marge horizontale (espacement à gauche et à droite) autour de l'élément auquel elle est appliquée. Dans cet exemple, mx-4 ajoute une marge horizontale de 1rem (16 pixels) de chaque côté de la colonne. Plus précisément, le "mx" signifie "margin-x" (marge horizontale) et le "4" indique la taille de la marge en rem (unité de mesure Bootstrap). Vous pouvez ajuster le nombre pour obtenir une marge horizontale plus grande (mx-5, mx-6, etc.) ou plus petite (mx-3, mx-2, etc.).</p>
            </div>
		</div>
	</div>
 

    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    </body>
</html>
{% endblock %}
