{% extends 'base.html.twig' %}

{% block body %}
    <h1>Search Results</h1>

    <form action="{{ path('app_post_search') }}" method="get">
        <input type="text" name="search" placeholder="Search for posts" value="{{ app.request.query.get('search') }}">
        <button type="submit">Search</button>
    </form>

    <ul>
        {% if posts is empty %}
            <p>No results found.</p>
        {% else %}
            {% for post in posts %}
                <li>
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.content }}</p>
                </li>
            {% endfor %}
        {% endif %}
    </ul>
{% endblock %}

