{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}


    <div class="container">
        <h1 class="blue-heading">{{ title }}</h1>
        <div class="row">
            <div class="col-md-12">
                <p>{{ content }}</p>
            </div>
        </div>
    </div>
{% endblock %}





