{% extends 'base.html.twig' %}

{% block title %}Hello TagController!{% endblock %}

{% block body %}
<h1>Les tags </h1>
  <div class="container">
       {% for tag in tags %}
       <h2> {{ tag.name }} </h2>
   
       {% endfor %}
     
    </div>

{% endblock %}


